html {
    font-family: "Roboto serif", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: start;
}
.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 7fr ;
    grid-template-areas:
        "h h"
        "a m"
        "f f";
}

header {
    grid-area: h;
    background-color: aliceblue;
}

nav {
    grid-area: a;
    background-color: bisque;
    position: sticky;
}

ul {
    list-style: none;
}

nav ul {
    position: sticky;
    top: 1rem;
    padding: 0;
    margin: 0.7rem;
}

nav a {
    color: navy;
    text-decoration: none;
}

main {
    grid-area: m;
    padding-left: 0.3rem;
}

footer {
    grid-area: f;
    padding: 0.5rem 1rem 1rem;
    text-align: center;
}


aside {
    position: fixed;
    top: 0;
    right: 0;
}
aside video {
    height: 100vh;
}

@media screen and (min-width: 120vh) {
    body {
        grid-template-columns: 1fr 56.25vh;
    }
}

@media screen and (max-width: 120vh) {
    body {
        grid-template-columns: 1fr;
    }
    .subway {
        display: none;
    }
}



